.movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 8px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  width: 400px;
  height: 247px;
}

.movie__info {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 3px;
}

.movie__h {
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
}

.movie__date {
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  height: 22px;

  color: #827e7e;
}

.movie__genre-list {
  display: flex;
  gap: 8px;
}

.movie__genre {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 2px 4px 3px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}

.movie__description {
  max-width: 95%;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.movie__rate {
  position: absolute;
  bottom: 16px;
  right: 26px;
}

.movie__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 60px;
}

.movie__input {
  width: 320px;
}

@media screen and (max-width: 992px) {
  .movie__progress {
    margin-right: -4px;
    padding-top: 8px;
  }
  .movie__img {
    margin: 8px;
  }
}

@media screen and (min-width: 992px) {
  .movie {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .movie__img {
    grid-area: 1 / 1 / 6 / 2;
    height: 280px;
    width: 187px;
  }
  .movie__info {
    grid-area: 1 / 2 / 3 / 3;
  }
  .movie__description {
    grid-area: 3 / 2 / 5 / 3;
  }

  .movie {
    width: 454px;
    height: 280px;
    gap: 20px;
  }

  .movie__info {
    padding-top: 12px;
    width: 240px;
  }

  .movie__info {
    padding-top: 12px;
    width: 240px;
  }
  .movie__rate {
    position: static;
  }
  .movie__input {
    min-width: 900px;
  }
}
